<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- uncomment for android -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">-->

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
      <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!--- libs -->
    <script src="lib/lodash/lodash.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <style id="app-style"></style>

    <master>
    <div id="header" class="bar bar-header bar-dark">
      <button class="icon ion-eye button button-dark"
              ng-click="showSolution()"></button>
      <button class="icon ion-image button button-dark"
              ng-click="changeImage()"></button>

      <h1 class="title">Planar</h1>
      <button class="icon ion-shuffle button button-dark"
              ng-click="gridCtrl.shuffle()"></button>
    </div>
    <div id="game-grid" game-grid>
      <div ng-repeat="p in positions"
           grid-square class="grid-square"
                       x="{{p.x}}" y="{{p.y}}">
      </div>
      <div ng-repeat="p in positions"
           grid-square class="grid-square spare"
                       x="{{p.x}}" y="{{p.y}}">

      </div>
    </div>
    </master>

    <ion-footer-bar class="bar-stable ad-bar">
    </ion-footer-bar>

    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">solution</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <div id="preview-image" style="background-image: url('img/puzzle/{{image}}')"/>
      </ion-modal-view>
    </script>

  </body>
</html>
