#game-grid{
  position: absolute;
  transform: translateY(0);
  height: 0;
  height: 100%;
  width: 100%;
  background-color: #444;
}

.grid-square{
  position: absolute;
  width: 33.333%;
  height: 20%;
  background-origin: center;
}

.sliding .grid-square {
  transition-duration: 0.25s;
}

.grid-square.spare{
  display: none;
}
