body{
  position: absolute;
  height: 100%;
  width: 100%;
}

.bar-header{
  transition-duration: 0.5s;
  transform: translateY(0%);
}
.bar-header.hidden {
  transform: translateY(-100%);
}

.button.button-dark{
  border: 1px solid #ddd;
}

#preview-image{
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: auto 120%;
}

#game-grid{
  position: absolute;
  transform: translateY(0);
  height: 0;
  height: 100%;
  width: 100%;
  background-color: #444;
}

.grid-square{
  position: absolute;
  width: 33.333%;
  height: 20%;
  background-origin: center;
  transition-duration: 0.25s;
  background-size: auto 600%;
}

.grid-square.spare{
  display: none;
}
